@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* -- Scrollbar -- */

html,
body {
	font-family: "Rubik", "SF Pro Text", "Roboto", "Segoe UI", sans-serif;
	font-style: normal;
	overscroll-behavior-y: none;
	scrollbar-width: none !important;
	-ms-overflow-style: none !important;
}

::-webkit-scrollbar {
	display: none !important;
}